/* START NAVBAR */
#top-header {
    background-color: #e1b12c;
}
 #top-header a {
     color: white;
     font-weight: 600;
     font-size: 10px;
}
#bottom-header {
    background-color: #d35400;
}
ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #30336b;
}
/* END NAVBAR */

/* START FOOTER */
.full-footer {
    background-color: #0097e6;
}
.top-footer p {
    color: white;
}
.top-footer a {
    color: white;
    font-weight: 600;
}
.top-footer h3{
    color: white;
}
.bottom-footer {
    background-color: #e1b12c;
}
.bottom-footer p {
    color: white;
    text-align: center;
 }
/* END FOOTER */

/* START HOME PAGE */
.top-section {
    background-color: #004d80;
    color: white;
}
.qualities-img {
    width: 150px;
    height: 143px;
}
.rounded-hr {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-color: #004d80;
}
.home-subscribe {
    background-color: #004d80;
    color: white;
    border-radius: 5px;
}
.home-subscribe .form-control{
    height: 35px;
    border-radius: 20px 0 0 20px;
    top: 0px;
    left: 0px;
}
.home-subscribe .btn {
    min-height: 35px;
    border-radius: 0 20px 20px 0;
    background: #FC427B;
    color: #fff;
}
.default-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* END HOME PAGE */
/* START ABOUT PAGE */
.breadcrumbs-section {
    background-color: #F8EFBA;
}
.breadcrumb {
    background-color: transparent;
}
/* END ABOUT PAGE */

/* START PRODUCT PAGE */
.product-image {
    width: 350px;
}
.product-polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.polaroid-container h4{
    font-weight: bold;
}
.polaroid-container {
    text-align: center;
    padding: 10px 20px;
}
/* END PRODUCT PAGE */

/* START CONTACT PAGE */
.address p{
    font-weight: 600;
}
/* END CONTACT PAGE */