#topHeader {
    background-color: #e1b12c;
    border-bottom: 1px solid #273c75;
}
 #topHeader a {
     color: #ecf0f1;
     font-weight: 600;
     font-size: 0.9rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
ul li a{
    font-size: 1.5rem;
    font-weight: 600;
}

/* START FOOTER */
.full-footer {
    background-color: #6a89cc;
}
.top-footer p {
    color: white;
}
.top-footer a {
    color: white;
    font-weight: 600;
}
.top-footer h3{
    color: white;
}
.bottom-footer {
    background-color: #F79F1F;
}
.bottom-footer p{
    color: white;
}
/* END FOOTER */

/* START HOME PAGE FIRST SECTION */
.top-section {
    background-color: #4bcffa;
    color:white;
}
.qualities-img{
    width: 150px;
}
/* END HOME PAGE FIRST SECTION */