/* START NAVBAR */
#topHeader {
    background-color: #e1b12c;
    border-bottom: 1.5px solid #273c75;
}
 #topHeader a {
     color: white;;
     font-weight: 600;
     font-size: 20px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
ul li a{
    font-size: 30px;
    font-weight: 600;
    color: navy;
}
/* END NAVBAR */

/* START FOOTER */
.full-footer {
    background-color: #6a89cc;
}
.top-footer p {
    color: white;
}
.top-footer a {
    color: white;
    font-weight: 600;
}
.top-footer h3{
    color: white;
}
.bottom-footer {
    background-color: #F79F1F;
}
.bottom-footer p{
    color: white;
}
/* END FOOTER */

/* START HOME PAGE */
.top-section {
    background-color: #4bcffa;
    color:white;
}
.qualities-img{
    width: 150px;
}
.our-work-img {
    border-radius: 50%;
}
.our-work-section{
    background-color: #004d80;
}
.home-subscribe {
    background-color: #004d80;
    color: white;
}
.home-subscribe .form-control{
    height: 40px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
}
.home-subscribe .btn {
    min-height: 40px;
    border-radius: 0 20px 20px 0;
    background: #FC427B;
    color: #fff;
}
/* END HOME PAGE */